li.Whiteboard-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  max-width: 400px;
}

.Whiteboard-value {
  line-height: 30px;
  margin-left: var(--space-small);
  font-size: 2em;
}

/*li.Whiteboard-item.added-item {
  opacity: 0;
  animation: new-item-animation 1s ease-in forwards;
}*/

/*@keyframes new-item-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}*/
