.HomeContainer .Note {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: var(--space-extra);
  align-items: center;
  width: 350px;
  background: linear-gradient(-45deg, transparent, transparent 	1.41421rem, var(--color-note-default) 	1.41421rem, var(--color-note-default));
  animation: jumpIn var(--animation-timing-superfast) ease-out;
}

.HomeContainer-whiteboard-list li {
  margin-bottom: var(--space-extra);
  padding: var(--space-small);
  position: relative;
  bottom: var(--space-extra);
}

.HomeContainer-whiteboard-list h1 {
  margin-top: var(--space-extra);
}

header button {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  position: relative;
  bottom: var(--space-small);
}

@keyframes jumpIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
